*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'vazir-FD';
    src: url('../fonts/Vazir-Light-FD.woff');
}

body{
    font-family: 'vazir-FD';
}

.main-header{
    width: 100%;
    background-color: #252525;
    padding: 8px 30px;
}

.main-header > div{
    display: inline-block;
    vertical-align: middle;
}

.main-header--logo img{
    width: 90px;
    height: 90px;
    border-radius: 50%;

}

.main-nav{
    display: inline-block;
    text-align: right;
    width: calc(100% - 170px);
    vertical-align: middle;
}

.main-nav-items{
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav-item{
    display: inline-block;
    margin: 0 16px;
}

.main-nav-item a{
    color: #dddddd;
    text-decoration: none;
}

.main-nav-item a:hover,
.main-nav-item a:active{
    color: #f9f3f3;
}

.account a{
    background-color: #6e7c7c;
    padding: 8px 16px;
    border-radius: 15px;
}

.account a:hover,
.account a:active{
    color: #dddddd;
}

#person{
    display: flex;
    
}

form{
    font-weight: bold;
}

input[type='text'],[type='email']{
    width: 50%;
    height: 25px;
}

#left{
    height: 300px;
    width: 300px;
    background-color: rosybrown;
    display: flex;
}

.main-footer{
    background-color: #201f1f;
    padding: 30px;
}

.logo-footer{
    width: 40px;
    height: 40px;
    border-radius: 3px;
}

.nav-footer a{
    padding: 2px;
    text-decoration: none;
    color: #fff;
}

.nav-footer{
    font-size: 30px;
}

