*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'vazir-FD';
    src: url('../fonts/Vazir-Light-FD.woff');
}

body{
    font-family: 'vazir-FD';
}

.main-header{
    width: 100%;
    background-color: #252525;
    padding: 8px 30px;
}

.main-header > div{
    display: inline-block;
    vertical-align: middle;
}

.main-header--logo img{
    width: 90px;
    height: 90px;
    border-radius: 50%;

}

.main-nav{
    display: inline-block;
    text-align: right;
    width: calc(100% - 170px);
    vertical-align: middle;
}

.main-nav-items{
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav-item{
    display: inline-block;
    margin: 0 16px;
}

.main-nav-item a{
    color: #dddddd;
    text-decoration: none;
}

.main-nav-item a:hover,
.main-nav-item a:active{
    color: #f9f3f3;
}

.account a{
    background-color: #6e7c7c;
    padding: 8px 16px;
    border-radius: 15px;
}

.account a:hover,
.account a:active{
    color: #dddddd;
}

#overview{
    width: 100%;
    height: 700px;
    background-image: url(../images/bg.jpg);
    opacity: 0.80;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#box{
    display: flex;
    background-color: #f2f2f2;
}

.box{
    width: 33%;
    height: 350px;
    background-color: #435560;
    margin: 10px;
    border-radius: 8px;
}

.box:hover{
    background-color: #1c2f42;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.07);
}

.main-footer{
    background-color: #201f1f;
    padding: 30px;
}

.logo-footer{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.nav-footer a{
    padding: 2px;
    text-decoration: none;
}
